---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1895">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Get the care you deserve</span>
                    <h2 class="cs-title">Stitch Skin Dermatology & Aesthetics</h2>
                </div>
                <p class="cs-text">
                    Our comprehensive dermatological care spans medical, pediatric, surgical, laser, and cosmetic disciplines.
                </p>
                <a href="" class="cs-button-solid">Book an Appointment</a>
                <div class="cs-info">
                    <img class="cs-info-pic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-sbs-1.png" alt="graphic" width="179" height="225" aria-hidden="true">
                    <div class="cs-wrapper">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/brown-pin-derm.svg" loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                        <div class="cs-flex">
                            <span class="cs-address">4321 Birch St, 140, Newport Beach, California 92660, US</span>                    <span class="cs-slogan">Backed by science, perfected to an art</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/faq-left.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/faq-left.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/faq-left.jpg" alt="dermatologist" width="324" height="467">
                </picture>
                <img class="cs-graphic cs-peach" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/hero-peach-blob.svg" alt="graphic" width="208" height="203" aria-hidden="true">
                <img class="cs-graphic cs-swirl" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/beige-swirl.svg" alt="graphic" width="56" height="42" aria-hidden="true">
                <img class="cs-graphic cs-dots" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/beige-dots.svg" alt="graphic" width="379" height="394" aria-hidden="true">
                <img class="cs-graphic cs-leaf" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/cs-leaf-right.svg" alt="graphic" width="179" height="225" aria-hidden="true">
                <img class="cs-graphic cs-button" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/spinning-button.svg" alt="graphic" width="179" height="225" aria-hidden="true">
            </div>
        </div>
        <img class="cs-graphic cs-brown-lines" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/hero-brown-lines.svg" alt="graphic" width="179" height="225" aria-hidden="true">
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dermatology-banner.png">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dermatology-banner.png">
            <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dermatology-banner.png" alt="cream background with ripple" width="1920" height="970" aria-hidden="true">
        </picture>
    </section>
                                    

    <!-- ============================================ -->
    <!--                Side by Side                  -->
    <!-- ============================================ -->

    <section id="sbs-1883">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-sbs-1.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-sbs-1.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-sbs-1.png" alt="dermatologist" width="324" height="467">
                </picture>
                <img class="cs-graphic cs-brown" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/brown-lines-2.svg" alt="graphic" width="208" height="203" aria-hidden="true">
                <img class="cs-graphic cs-peach" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/ball.svg" alt="graphic" width="56" height="42" aria-hidden="true">
                <img class="cs-graphic cs-beige" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/beige-blob.svg" alt="graphic" width="379" height="394" aria-hidden="true">
                <img class="cs-graphic cs-leaf" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/leaf2.svg" alt="graphic" width="179" height="225" aria-hidden="true">
                <img class="cs-graphic cs-lines" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/beige-lines.svg" alt="graphic" width="189" height="208" aria-hidden="true">
                <div class="cs-info">
                    <p class="cs-info-text">
                        <span class="cs-bold">Elected Secretary</span>
                        of Orange County Dermatology Society 2022-2024
                    </p>
                </div>
            </div>
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">About us</span>
                    <h2 class="cs-title">Welcome to Our Stitch Skin Dermatology</h2>
                </div>
                <p class="cs-text-large">
                    Stitch Skin Dermatology & Aesthetics is a California-based professional corp start-up that is redefining the way dermatology and medical aesthetics is practiced and delivered.
                </p>
                <p class="cs-text">
                    We are seeing a new crop of medical practices emerge that are reimagining the patient's experience with traditional healthcare (e.g. One Medical for Primary Care, Forward for Preventative Care, KindBody for Fertility, Tia for Women's Health), however we can't say the same for Dermatology and Medical Aesthetics.
                </p>
                <p class="cs-text">
                    Our objective with Stitch Skin is to build a truly patient-centric dermatology experience, from initial awareness to patient check-in to consultation to billing and post-visit (and everything in between), building lasting relationships and leveraging seamless technology to maximize patient satisfaction.
                </p>
                <a href="" class="cs-button-solid">Book an Appointment</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--             Side by Side Reverse             -->
    <!-- ============================================ -->

    <section id="sbs-r-1892">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-sbs-1.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-sbs-1.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-sbs-1.png" alt="dermatologist" width="324" height="467">
                </picture>
                <img class="cs-graphic cs-brown" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/lines-reverse.svg" alt="graphic" width="208" height="203" aria-hidden="true">
                <img class="cs-graphic cs-peach" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/blob-reverse.svg" alt="graphic" width="56" height="42" aria-hidden="true">
                <img class="cs-graphic cs-beige" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/beige-reverse.svg" alt="graphic" width="379" height="394" aria-hidden="true">
                <img class="cs-graphic cs-leaf" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/leaf-reverse.svg" alt="graphic" width="179" height="225" aria-hidden="true">
                <img class="cs-graphic cs-lines" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/mesh-reverse.svg" alt="graphic" width="189" height="208" aria-hidden="true">
                <div class="cs-info">
                    <p class="cs-info-text">
                        <span class="cs-bold">Elected Secretary</span>
                        of Orange County Dermatology Society 2022-2024
                    </p>
                </div>
            </div>
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">About us</span>
                    <h2 class="cs-title">Welcome to Our Stitch Skin Dermatology</h2>
                </div>
                <p class="cs-text-large">
                    Stitch Skin Dermatology & Aesthetics is a California-based professional corp start-up that is redefining the way dermatology and medical aesthetics is practiced and delivered.
                </p>
                <p class="cs-text">
                    We are seeing a new crop of medical practices emerge that are reimagining the patient's experience with traditional healthcare (e.g. One Medical for Primary Care, Forward for Preventative Care, KindBody for Fertility, Tia for Women's Health), however we can't say the same for Dermatology and Medical Aesthetics.
                </p>
                <p class="cs-text">
                    Our objective with Stitch Skin is to build a truly patient-centric dermatology experience, from initial awareness to patient check-in to consultation to billing and post-visit (and everything in between), building lasting relationships and leveraging seamless technology to maximize patient satisfaction.
                </p>
                <a href="" class="cs-button-solid">Book an Appointment</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                    Steps                     -->
    <!-- ============================================ -->

    <section id="steps-1886">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">How To Get Started</span>
                <h2 class="cs-title">Simple Steps to Get Our Services</h2>
            </div>
            <div class="cs-card-group">
                <div class="cs-item">
                    <div class="cs-image-group">
                        <span class="cs-number">01</span>
                        <img class="cs-graphic1" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/brown-swirl.svg" alt="graphic" loading="lazy" decoding="async" width="102" height="55">
                        <img class="cs-graphic2" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-blob.svg" alt="graphic" loading="lazy" decoding="async" height="78" width="40">
                    </div>
                    <span class="cs-step">Book an Appointment</span>
                </div>
                <div class="cs-item">
                    <div class="cs-image-group">
                        <span class="cs-number">02</span>
                        <img class="cs-graphic1" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/brown-swirl.svg" alt="graphic" loading="lazy" decoding="async" width="102" height="55">
                        <img class="cs-graphic2" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-blob.svg" alt="graphic" loading="lazy" decoding="async" height="78" width="40">
                    </div>
                    <span class="cs-step">Prepare for your first appointment</span>
                </div>
                <div class="cs-item">
                    <div class="cs-image-group">
                        <span class="cs-number">03</span>
                        <img class="cs-graphic1" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/brown-swirl.svg" alt="graphic" loading="lazy" decoding="async" width="102" height="55">
                        <img class="cs-graphic2" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-blob.svg" alt="graphic" loading="lazy" decoding="async" width="78" height="40">
                    </div>
                    <span class="cs-step">Attend your appointment</span>
                </div>
                <div class="cs-item">
                    <div class="cs-image-group">
                        <span class="cs-number">04</span>
                        <img class="cs-graphic1" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/brown-swirl.svg" alt="graphic" loading="lazy" decoding="async" width="102" height="55">
                        <img class="cs-graphic2" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-blob.svg" alt="graphic" loading="lazy" decoding="async" width="78" height="40">
                    </div>
                    <span class="cs-step">Follow your treatment plan</span>
                </div>
            </div>
        </div>
        <img class="cs-graphic3" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/faces-graphic.svg" alt="graphic" loading="lazy" decoding="async" width="492" height="537">
        <img class="cs-graphic4" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/faces-graphic-flipped.svg" alt="graphic" loading="lazy" decoding="async" width="614" height="671">
    </section>

    <!-- ============================================ -->
    <!--                    Blog                      -->
    <!-- ============================================ -->

    <section id="blog-1875">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Recent News</span>
                <h2 class="cs-title">Our Latest Blog</h2>
                <p class="cs-text">
                    Aside from seeing patients, Dr. Stitch is dedicated to patient advocacy and education on evidence-based medicine in dermatology, especially for skin of color. 
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/derm9.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/derm9.png">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/derm9.png" alt="person" width="500" height="750">
                    </picture>
                    <div class="cs-text-box">
                        <h3 class="cs-h3">Ways to Treat Dark Spots and Patches</h3>
                        <div class="cs-details">
                            <span class="cs-date">
                                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-calendar.svg" alt="icon" width="20" height="20" aria-hidden="true">
                                April 15, 2023
                            </span>
                            <span class="cs-time">
                                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-clock.svg" alt="icon" width="20" height="20" aria-hidden="true">
                                1 min
                            </span>
                        </div>
                        <p class="cs-item-text">
                            Hyperpigmentation can be caused due to several reasons (melasma or drug reactions) however post-inflammatory hyperpigmentation (PIH). At vero eos et accusamus et iusto odio dignissimos ducimus qui.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/derm10.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/derm10.png">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/derm10.png" alt="person" width="500" height="750">
                    </picture>
                    <div class="cs-text-box">
                        <h3 class="cs-h3">Botanicals and Supplements for Acne</h3>
                        <div class="cs-details">
                            <span class="cs-date">
                                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-calendar.svg" alt="icon" width="20" height="20" aria-hidden="true">
                                April 15, 2023
                            </span>
                            <span class="cs-time">
                                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-clock.svg" alt="icon" width="20" height="20" aria-hidden="true">
                                1 min
                            </span>
                        </div>
                        <p class="cs-item-text">
                            Hyperpigmentation can be caused due to several reasons (melasma or drug reactions) however post-inflammatory hyperpigmentation (PIH). At vero eos et accusamus et iusto odio dignissimos ducimus qui.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/derm11.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/derm11.png">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/derm11.png" alt="person" width="500" height="750">
                    </picture>
                    <div class="cs-text-box">
                        <h3 class="cs-h3">My skin looks amazing! Can't wait for my next appointment. Highly recommend!</h3>
                        <div class="cs-details">
                            <span class="cs-date">
                                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-calendar.svg" alt="icon" width="20" height="20" aria-hidden="true">
                                April 15, 2023
                            </span>
                            <span class="cs-time">
                                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-clock.svg" alt="icon" width="20" height="20" aria-hidden="true">
                                1 min
                            </span>
                        </div>
                        <p class="cs-item-text">
                            Hyperpigmentation can be caused due to several reasons (melasma or drug reactions) however post-inflammatory hyperpigmentation (PIH). At vero eos et accusamus et iusto odio dignissimos ducimus qui.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Background Image -->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dermatology-background.jpeg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dermatology-background.jpeg">
            <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dermatology-background.jpeg" alt="cream background with ripple" width="1920" height="970" aria-hidden="true">
        </picture>
        <!-- Top left gold graphic -->
        <img class="cs-graphic1" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gold-graphic.svg" alt="gold flake graphic" width="370" height="322" aria-hidden="true">
        <!-- Bottom right gold graphic -->
        <img class="cs-graphic2" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gold-graphic.svg" alt="gold flake graphic" width="370" height="322" aria-hidden="true">
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery-1897">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Our Gallery</span>
                    <h2 class="cs-title">Witness The Difference and Our Results</h2>
                </div>
                <a class="cs-button-solid" href="">View All</a>
            </div>
            <!--Gallery-->
            <div class="cs-gallery">
                <div class="cs-item">
                    <p class="cs-item-text">Treatment of neck wrinkles using SkinPen microneedling</p>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before.png" alt="gallery" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Before</span>
                    </div>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-after.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-after.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-after.png" alt="gallery" width="305" height="400">
                        </picture>
                        <span class="cs-tag">After</span>
                    </div>
                </div>
                <div class="cs-item">
                    <p class="cs-item-text">Skin rejuvenation using the PicoSure Pro laser</p>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before-1.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before-1.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before-1.png" alt="gallery" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Before</span>
                    </div>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-after-1.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-after-1.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-after-1.png" alt="gallery" width="305" height="400">
                        </picture>
                        <span class="cs-tag">After</span>
                    </div>
                </div>
                <div class="cs-item">
                    <p class="cs-item-text">Treatment of brown spots using the PicoSure Pro laser</p>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before-2.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before-2.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before-2.png" alt="gallery" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Before</span>
                    </div>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-after-2.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-after-2.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-after-2.png" alt="gallery" width="305" height="400">
                        </picture>
                        <span class="cs-tag">After</span>
                    </div>
                </div>
                <div class="cs-item">
                    <p class="cs-item-text">Treatment of acne scars using the PicoSure Pro laser</p>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before-3.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before-3.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before-3.png" alt="gallery" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Before</span>
                    </div>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-after-3.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-after-3.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-after-3.png" alt="gallery" width="305" height="400">
                        </picture>
                        <span class="cs-tag">After</span>
                    </div>
                </div>
            </div>
        </div>
        <img class="cs-graphic cs-graphic-top" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/derma-bg-1.svg" alt="graphic" width="517" height="469" loading="lazy" decoding="async" aria-hidden="true" >
        <img class="cs-graphic cs-graphic-bottom" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/derma-bg-2.svg" alt="graphic" width="517" height="469" loading="lazy" decoding="async" aria-hidden="true" >
    </section>

    <!-- ============================================ -->
    <!--                    Events                    -->
    <!-- ============================================ -->

    <section id="events-1928">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/faq-left.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/faq-left.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/faq-left.jpg" alt="dermatologist" width="522" height="680">
                </picture>
                <img class="cs-graphic cs-twirl" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/twirl.svg" alt="graphic" width="177" height="97" aria-hidden="true">
                <img class="cs-graphic cs-peach" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/peach-blob.svg" alt="graphic" width="86" height="65" aria-hidden="true">
                <img class="cs-graphic cs-blob" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-beige-blob.svg" alt="graphic" width="528" height="468" aria-hidden="true">
                <img class="cs-graphic cs-leaf" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/leaf-2.svg" alt="graphic" width="175" height="143" aria-hidden="true">
            </div>
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Our Events</span>
                    <h2 class="cs-title">Upcoming Events</h2>
                </div>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <span class="cs-date">
                            <strong>26</strong>
                            Mar 2024
                        </span>
                        <div class="cs-info">
                            <h3 class="cs-h3">30% offer on all services</h3>
                            <span class="cs-time"><img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-clock.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async">12:00AM - 02:00PM</span>
                        </div>
                        <a href="" class="cs-button-solid">Buy Ticket</a>
                    </li>
                    <li class="cs-item">
                        <span class="cs-date">
                            <strong>17</strong>
                            Apr 2024
                        </span>
                        <div class="cs-info">
                            <h3 class="cs-h3">15% offer on dermal fillers services</h3>
                            <span class="cs-time"><img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-clock.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async">12:00AM - 02:00PM</span>
                        </div>
                        <a href="" class="cs-button-solid">Buy Ticket</a>
                    </li>
                    <li class="cs-item">
                        <span class="cs-date">
                            <strong>12</strong>
                            May 2024
                        </span>
                        <div class="cs-info">
                            <h3 class="cs-h3">40% offer on micro needling services</h3>
                            <span class="cs-time"><img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-clock.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async">12:00AM - 02:00PM</span>
                        </div>
                        <a href="" class="cs-button-solid">Buy Ticket</a>
                    </li>
                </ul>
            </div>
        </div>
        <img class="cs-graphic3" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/faces-graphic.svg" alt="graphic" loading="lazy" decoding="async" width="835" height="912">
        <img class="cs-graphic4" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/faces-graphic-flipped.svg" alt="graphic" loading="lazy" decoding="async" width="835" height="912">
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-2011">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Testimonials</span>
                <h2 class="cs-title">Our Client’s Review</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="cs-review">
                        <div class="cs-flex-group">
                            <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gold-stars-alt.svg" alt="stars" width="111" height="21">
                            <h3 class="cs-h3">From consultation to treatment, everything was smooth and professional</h3>
                            <p class="cs-item-text">
                                I wanted to come out and write an honest review of how I was treated, when I went to visit Dr. Paul. I was very skeptical at first as I was dealing with few things and was nervous since I never had any treatments done on my face.
                            </p>
                        </div>
                        <div class="cs-info">
                            <span class="cs-name">
                                Annette Black
                                <span class="cs-job">Software Engineer at Google</span>
                            </span>
                        </div>
                    </div>
                    <div class="cs-image-group">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/derm-lady.jpeg">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/derm-lady.jpeg">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/derm-lady.jpeg" alt="dermatologist" width="312" height="411">
                        </picture>
                        <img class="cs-graphic cs-brown" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/brown-lines2.svg" alt="graphic" width="131" height="99" aria-hidden="true">
                        <img class="cs-graphic cs-dots" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dot-group.svg" alt="graphic" width="131" height="99" aria-hidden="true">
                        <img class="cs-graphic cs-leaf" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/derma-leaf.svg" alt="graphic" width="131" height="99" aria-hidden="true">
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-review">
                        <div class="cs-flex-group">
                            <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gold-stars-alt.svg" alt="stars" width="111" height="21">
                            <h3 class="cs-h3">Nervous first-timer transformed! Dr. Paul is incredible.</h3>
                            <p class="cs-item-text">
                                I was very skeptical at first as I was dealing with few things and was nervous since I never had any treatments done on my face. But to my surprise, starting from the first step, discussing my concerns, I already felt at home.
                            </p>
                        </div>
                        <div class="cs-info">
                            <span class="cs-name">
                                Arlene McCoy
                                <span class="cs-job">Software Engineer at Google</span>
                            </span>
                        </div>
                    </div>
                    <div class="cs-image-group">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/derma-testimonial.png">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/derma-testimonial.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/derma-testimonial.png" alt="dermatologist" width="312" height="411">
                        </picture>
                        <img class="cs-graphic cs-brown" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/brown-lines2.svg" alt="graphic" width="131" height="99" aria-hidden="true">
                        <img class="cs-graphic cs-dots" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dot-group.svg" alt="graphic" width="131" height="99" aria-hidden="true">
                        <img class="cs-graphic cs-leaf" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/derma-leaf.svg" alt="graphic" width="131" height="99" aria-hidden="true">
                    </div>
                </li>
            </ul>
        </div>
        <img class="cs-flower" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/banner-flower.svg" alt="graphic" loading="lazy" decoding="async" height="143" width="235">
    </section>
                                    
                                    
                                    
                                    
                                    


    {% include 'components/cta.html' %}
{% endblock %}